{% extends 'base.html.twig' %}

{% block title %}Nouvel Utilisateur{% endblock %}

{% block body %}
    <h1 class="text-center my-5 lightbeige">Créer un utilisateur</h1>

	<div class="card w-75 mx-auto  border-card my-3 py-3 bg-lightbeige rounded">
		<div class="d-flex justify-content-end">
			<a class="btn btn-app me-5 my-2 px-5" href="{{ path('app_admin_user_index') }}">Les utilisateurs</a>
		</div>
    {{ include('Administration/user/_form.html.twig', {'button_label': 'Ajouter'}) }}
</div>
{% endblock %}
