{% extends 'base.html.twig' %}

{% block title %}Edit Journey{% endblock %}

{% block body %}
    <h1>Edit Journey</h1>

    {{ include('/Administration/journey/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_journey_index') }}">back to list</a>

    {{ include('/Administration/journey/_delete_form.html.twig') }}
{% endblock %}
