{% extends 'base.html.twig' %}

{% block title %}Edition trajet{% endblock %}

{% block body %}
    <h1 class="text-center my-5">Editer une étape</h1>
    {{ include('/Administration/journey/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    <div class="w-50 d-flex justify-content-around">
        <a class="btn btn-app" href="{{ path('app_admin_journey_show', {'id':journey.id}) }}">Retour au trajet</a>
        {{ include('/Administration/journey/_delete_form.html.twig') }}
    </div>
{% endblock %}
