{% extends 'base.html.twig' %}

{% block title %}New Journey{% endblock %}

{% block body %}
    <h1>Create new Journey</h1>

    {{ include('Administration/journey/_form.html.twig') }}

    <a href="{{ path('app_journey_index') }}">back to list</a>
{% endblock %}
