{% extends 'base.html.twig' %}

{% block title %}Modification d'une actualité
{% endblock %}

{% block body %}
	<h1 class="text-center my-5">Modification
		{{ blog.title }}</h1>
	<div class="card w-75 mx-auto text-center border-card">
		{{ include('/Administration/blog/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
	</div>
	<button class="btn btn-app my-5">
	<a href="{{ path('app_admin_blog_show', {'id': blog.id}) }}" class="btn btn-app">Retour à l'actualité</a>
</button>
{% endblock %}
