{% extends 'base.html.twig' %}

{% block title %}Modification d'une actualité
{% endblock %}

{% block body %}
	<h1 class="text-center my-5 lightbeige">Modification
		{{ blog.title }}</h1>

	<div class="card w-75 mx-auto  border-card my-3 py-3 bg-lightbeige rounded">
		<div class="d-flex justify-content-end">
			<a class="btn btn-app me-5 my-2 px-5" href="{{ path('app_admin_blog_show', {'id': blog.id}) }}">Retour à l'actualité</a>
		</div>
		<div class="card w-75 mx-auto text-center border-card my-5">
			{{ include('/Administration/blog/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
		</div>
	</div>
{% endblock %}
