{% extends 'base.html.twig' %}

{% block title %}Ajout acualité{% endblock %}

{% block body %}
    <h1>Ajouter une actualité</h1>

    {{ include('/Administration/blog/_form.html.twig') }}

    <a href="{{ path('app_admin_blog_index') }}">Retour aux actualités</a>
{% endblock %}
