<form method="post" action="{{ path('app_carousel_delete', {'id': carousel.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ carousel.id) }}">
    <button class="btn btn-app mx-2 my-3">Supprimer l'image</button>
</form>
