<form method="post" action="{{ path('app_carousel_delete', {'id': carousel.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ carousel.id) }}">
    <button class="btn"><img src="{{ asset('../assets/images/icones/trash.svg') }}" alt="edition"></button>
</form>
