{% extends 'base.html.twig' %}

{% block title %}Blog index
{% endblock %}

{% block body %}
	<h1 class="text-center">Les actualités</h1>

	{% for blog in blogs %}
		<div class="card w-50 mx-auto my-3">
			<div class="card-body">
            <a href="{{ path('app_blog_show', {'id': blog.id}) }}"><h4 class="card-title text-center">{{ blog.title }}</h4></a>
            </div>
		</div>
	{% endfor %}


	<a class="btn btn-primary" href="{{ path('app_blog_new') }}">Create new</a>
{% endblock %}
