 @import url('./colors.css');

/* css de la nav bar */

.menu {
    background-color: var(--gold);
}

.nav-a {
    color: var(--white)!important;
    font-weight: bold;
    font-size: 1.5rem;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
   border-color: var(--white) ; 
}

.navbar-toggler:focus {
    box-shadow: none;

}

.btn-app {
    background-color: var(--grey);
    color: var(--white);
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6, p {
    color: var(--dark-grey);
}

p {
    font-size: 1.2rem;
}

.border-card {
    border: 2px solid var(--dark-grey);
}

.carousel-image {
    height: 300px; /* Ajustez cette valeur selon vos besoins */
    object-fit: cover; /* Cette propriété permet de garder les proportions de l'image */
}
