{% block footer %}
    <div class="d-flex align-items-center justify-content-around">
    <div class="w-25 text-center">
        <img class="w-25" src="{{ asset('../assets/images/simplon.png') }}" alt="logo simplon">
    </div>
    <h5 class="text-center my-2 w-75">Réalisé par Clément, Lucas, Sébastien et William</h5>
    </div>
{% endblock %}