<form method="post" action="{{ path('app_forum_comment_delete', {'id': forumComment.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ forumComment.id) }}">
    <button class="btn"><img src="{{ asset('../assets/images/icones/trash.svg') }}" alt="suppression"></button>
</form>
