<form method="post" action="{{ path('app_forum_delete', {'id': forumId}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ forumId) }}">
    <button class="btn"><img src="{{ asset('../assets/images/icones/trash.svg') }}" alt="suppression"></button>
</form>
