{% extends 'base.html.twig' %}

{% block title %}Edit ForumComment{% endblock %}

{% block body %}
    <h1>Edit ForumComment</h1>

    {{ include('/Administration/forum_comment/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_forum_comment_index') }}">back to list</a>

    {{ include('/Administration/forum_comment/_delete_form.html.twig') }}
{% endblock %}
