{% extends 'base.html.twig' %}

{% block title %}Modification Forum{% endblock %}

{% block body %}
    <h1>Modification du Forum</h1>

    {{ include('/messages/_form.html.twig')}}

    <a href="{{ path('app_forum_show', {'forumId': forumId}) }}">Retour au Forum</a>
    
{% endblock %}
