{% extends 'base.html.twig' %}

{% block title %}Modification Commentaire{% endblock %}

{% block body %}
    <h1>Modification du Commentaire</h1>

    {{ include('forum_comment/_forum_comment_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_forum_show', {'forumId': forumId}) }}">Retour au Forum</a>

{% endblock %}
