{% extends 'base.html.twig' %}

{% block title %}Nouveau Forum
{% endblock %}

{% block body %}
	<h1 class="text-center my-5 lightbeige">Ajouter un Forum</h1>

	<div class="card w-75 mx-auto  border-card my-3 py-3 bg-lightbeige rounded">
		<div class="d-flex justify-content-end">
			<a class="btn btn-app me-5 my-2 px-5" href="{{ path('app_forum_index') }}">Retour aux Forums</a>
		</div>

		{{ include('messages/_form.html.twig') }}
	</div>
{% endblock %}
