{% extends 'base.html.twig' %}

{% block title %}Nouveau Forum{% endblock %}

{% block body %}
    <h1>Créer un nouveau Forum</h1>

    {{ include('/messages/_form.html.twig') }}

    <a href="{{ path('app_forum_index') }}">back to list</a>
{% endblock %}
