<form method="post" action="{{ path('app_journey_delete', {'id': journey.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ journey.id) }}">
    <button class="btn"><img src="{{ asset('../assets/images/icones/trash.svg') }}" alt="edition"></button>
</form>
