{% extends 'base.html.twig' %}

{% block title %}Edition trajet{% endblock %}

{% block body %}
    <h1 class="text-center my-5">Editer une étape</h1>
    {{ include('journey/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    <div class="w-100 d-flex justify-content-end">
        <a class="btn btn-app  me-5" href="{{ path('app_journey_show', {'id':journey.id}) }}">Retour au trajet</a>
    </div>
{% endblock %}
