{% extends 'base.html.twig' %}

{% block title %}Trajet
{% endblock %}

{% block body %}
	<h1 class="text-center my-5">{{ journey.stage }}</h1>

	<div class="card w-75 mx-auto text-center border-card">

		<div class="card-body">
			<p class="card-text my-5">
				{{ journey.description}}
			</p>
			{% include "Administration/map/_map.html.twig" %}
		</div>
		<div class="w-100 d-flex justify-content-around mt-3 mb-5">
			<a class="btn btn-app" href="{{ path('app_journey_index') }}">Retour aux trajets</a>
			{% if is_granted('ROLE_MOD') %}
				<a class="btn btn-app" href="{{ path('app_journey_edit', {'id':journey.id}) }}">Modifier le trajet</a>
			{% endif %}
		</div>
	</div>

{% endblock %}
